#project
{
    width: 900px;
    height: 160px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    padding: 0px;

    border: 0px solid;
    border-radius: 10px;
}
