#marquee {
    overflow: hidden;
}

#game {
    width: 650px;
    height: 650px;
    float: left;
    margin: auto;
    border:16px solid;
    border-radius:25px;
    border-color: #4A4A48;
}

#info {
    width: 300px;
    float: left;
    margin-left: 20px;
}

#info h1 {
    font-family: 'Trade Winds', 'cursive';
}
