#main_links
{
    text-align: center;
}

#main_links a
{
    color: #8B0000;
}

#main_links a:visited
{
    color: #8B0000;
}

#main_links p
{
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 24pt;
}
